
#main-pane {
    -fx-background-color: white;
}

#welcome-text {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-fill: grey;
}
#recursion {
    -fx-background-color: cornflowerblue;
    
}
#equals {
	-fx-background-color: green;
}
#orange {
	-fx-background-color: orange;
}
#grid {
	-fx-background-color: darkgrey;
}