
#main-pane {
    -fx-background-image: url("http://4.bp.blogspot.com/_kCDts9B_6kw/TBPXShy0vWI/AAAAAAAACe0/3fzlCA3o3_8/s1600/Warm+amber+tile1.png");
}

#welcome-text {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-fill: grey;
}
#recursion {
    -fx-background-color: cornflowerblue;
}
#binary {
    -fx-background-color: cornflowerblue;
    
}
#equals {
	-fx-background-color: green;
}
#orange {
	-fx-background-color: orange;
}
#grid {
	-fx-background-color: darkgrey;
}