
#main-pane {
    -fx-background-image:// url("http://emojipedia-us.s3.amazonaws.com/cache/05/85/058541ff052d41f8ddf1450dc041f713.png");

 url("http://pre09.deviantart.net/ed30/th/pre/f/2013/257/b/e/seamless_fire_texture_by_aozametaneko-d6mczqb.jpg");

//url("http://4.bp.blogspot.com/_kCDts9B_6kw/TBPXShy0vWI/AAAAAAAACe0/3fzlCA3o3_8/s1600/Warm+amber+tile1.png");
}

#welcome-text {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-fill: grey;
}
#recursion {
    -fx-background-color: cornflowerblue;
}
#binary {
    -fx-background-color: cornflowerblue;
    
}
#equals {
	-fx-background-color: green;
}
#orange {
	-fx-background-color: orange;
}
#grid {
	-fx-background-color: darkgrey;
}